.logotienda {
  
  width: 60px;
  margin-left: 20px;
  color:  #35e3ed, #2ce0eb'
}

.menu{
 margin-top: 15px;
 justify-content: center;
 
}

.widget {
  display: inline-flex;
  margin-right: 20px;
  margin-top: 15px;
  
  
}

.saludo {

  text-align: center;
  margin-top: 50px;
}


